a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    color: inherit;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    border: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}


section {
    position: relative;
}
body {
    overflow-x: hidden;
}
section .trees {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    z-index: 11;
}
.construction__video,
.construction__gallery,
.construction__main--container,
.developer__container,
.contact__container,
.header__navigate--link,
.header__top {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__social--link,
.header__social {
    display: flex;
    align-items: center;
}

.header__logo {
    padding: 25px 0;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.header__social {
    margin-right: 10%;
    position: relative;
    min-height: 139px;
}

.header__contact a {
    color: #2B2B2B;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header__contact button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 10px;
    background: #244E85;
    margin-left: 30px;
}

.header__social--link img {
    margin-right: 5px;
}

.header__social--link p {
    color: #2B2B2B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__social--link:first-child {
    margin-right: 30px;
}

.header__write {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 0;
    left: 30px;
    padding: 15px 13px 13px;
    border-radius: 0 0 12px 12px;
    background: #244E85;
}

.header__navigate--link a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 8px;
    white-space: nowrap;
    position: relative;
    width: fit-content;
}

.header__navigate--link a:first-child {
    padding-left: 0;
}

.header__navigate--link a:last-child {
    padding-right: 0;
}

.header__navigate--link a.active,
.header__navigate--link a:hover {
    font-weight: 700;
    margin: 0 4px;
}

.header__navigate--link a.active::after,
.header__navigate--link a:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #FFF;
}

.header__navigate {
    background: #244E85;
}

.header__navigate--link {
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.header__navigate--link a.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #FFF;
}

.footer {
    background: #244E85;
    position: relative;
}

.footer__container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 90px 30px;
    display: flex;
    justify-content: space-between;
}

.footer__navigate {
    display: flex;
    align-items: center;
}

.footer__navigate > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 100px;
}

.footer__navigate > div a {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.footer__navigate > div a.active {
    font-weight: 700;
}

.footer__social div {
    display: flex;
    align-items: center;
}

.footer__social--number {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__social--whatsApp {
    margin: 20px 0 13px 0;
}

.footer__social > div p {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
}

@media (max-width: 1300px) {
    .footer__navigate > div {
        margin-right: 40px;
    }
}

@media (max-width: 1100px) {
    .footer__navigate {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__navigate > div {
        margin-right: 10px;
        margin-bottom: 30px;
    }

    .footer__container {
        align-items: center;
    }

    .footer__container {
        padding: 40px 30px;
    }

    .header__right,
    .header__navigate {
        display: none;
    }
}

@media (max-width: 756px) {
    .footer__navigate > div a {
        font-size: 16px;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__navigate > div {
        margin-bottom: 25px;
        margin-right: 0;
    }

    .footer__navigate > div {
        align-items: center;
    }

    .footer__navigate {
        align-items: center;
    }

    .footer__social {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer__container {
        padding: 30px 15px;
    }

    .footer__social > div p {

    }
}

.header__navigation {
    display: none;
}

.header__navigation .header__menu--checkbox {
    display: none;
}

.header__navigation label.header__menu--toggle {
    cursor: pointer;
}

.header__navigation .header__menu {
    padding: 25px;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 388px;
    width: calc(100vw - 30px);
    height: 100%;
    -moz-transform: translate3d(450px, 0, 0);
    -o-transform: translate3d(450px, 0, 0);
    -ms-transform: translate3d(450px, 0, 0);
    -webkit-transform: translate3d(450px, 0, 0);
    transform: translate3d(450px, 0, 0);
    -moz-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    -webkit-transition: transform 0.35s;
    transition: transform 0.35s;
    z-index: 1;
    overflow: scroll;
    background-color: #244E85;
}

.header__navigation .header__menu--overlay {
    background-color: rgba(103, 103, 103, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 1;
    display: none;
}

.header__navigation .header__menu--header > div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header__navigation .header__menu--checkbox:checked ~ .header__menu--overlay {
    display: block;
}

.header__navigation .header__menu--checkbox:checked ~ .header__menu {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.header__menu--header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__menu--header .header__menu--toggle {
    position: absolute;
    top: 0;
    right: 0;
}

.header__menu--header .header__menu--toggle img {
    width: 16px;
}

.header__menu--header button {
    color: #244E85;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 42px;
    border-radius: 10px;
    background: #FFF;
}

.logo__mobile--menu {
    margin-bottom: 21px;
}

.header__mobile--social ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 35px 0 57px;
}

.header__mobile--social ul li a {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 23px;
    display: inline-block;
}

.header__connect--social > div > div,
.header__connect--social > div {
    display: flex;
    align-items: center;
}

.header__connect--social > div > div:first-child {
    margin-right: 20px;
}

.header__social--mobile {
    text-align: center;
    display: block;
    margin-top: 34px;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

.header__connect--social,
.header__social--city p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}

.header__social--city span {
    color: #94C2FF;
}

.header__connect--social {
    margin-bottom: 45px;
}

.header__connect--social > p {
    margin-bottom: 11px;
}

.header__connect--social img {
    margin-right: 5px;
}

@media (max-width: 1100px) {
    .header__navigation {
        display: flex;
    }

    .header__navigation {
        z-index: 12;
        padding: 0 16px;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }

}

@media (max-width: 440px) {
    .header__navigation .header__menu {
        width: initial;
    }
}

.trees__contact h1 {
    color: #3A3A3A;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.2%;
    margin-bottom: 65px;
    white-space: nowrap;
}

.contact__container {
    display: flex;
    justify-content: space-between;
    padding: 100px 30px;
}

.contact__info {
    display: flex;
}

.contact__info p {
    color: #2B2B2B;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.contact__info span,
.contact__info a {
    color: #2B2B2B;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact__info .contact__info--number > div:first-child {
    margin-bottom: 20px;
}

.contact__info--number {
    margin-right: 100px;
}

.contact__social > div,
.contact__social {
    display: flex;
    align-items: center;
}

.contact__social > div {
    margin-top: 30px;
}

.contact__social > div:first-child {
    margin-right: 25px;
}

.contact__social > div a {
    color: #2B2B2B;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
}

.trees__maps img {
    width: 100%;
    border-radius: 18px;
}

.trees__contact {
    margin-right: 30px;
}

.contact__social--mobile {
    display: none;
}

.trees__maps--mobile {
    display: none;
}

@media (max-width: 1500px) {
    .trees__contact h1 {
        font-size: 52px;
    }

    .contact__info {
        flex-direction: column;
    }

    .contact__info--number {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 1100px) {
    .contact__container {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .trees__maps img {
        width: 100%;
        border-radius: 0;
        margin-top: 34px;
    }

    .trees__contact {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact__info {
        flex-direction: column;
    }

    .contact__info--adress,
    .contact__info--number {
        text-align: center;
    }

    .trees__contact h1 {
        font-size: 45px;
        margin-bottom: 40px;
    }

    .contact__info span, .contact__info a,
    .contact__info p {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .contact__social {
        display: none;
    }

    .contact__social--mobile img {
        width: 100%
    }

    .contact__social--mobile a {
        font-size: initial;
        line-height: initial;
        margin: 0;
        display: block;
        width: 47px;
    }

    .contact__social--mobile a:first-child {
        margin-right: 28px;
    }

    .contact__social--mobile {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 40px;
    }

    .contact__info--adress {
        margin-top: 40px;
    }

    .trees__maps--desktop {
        display: none;
    }

    .trees__maps--mobile {
        display: block;
    }
}

@media (max-width: 550px) {
    .trees__maps {
        width: 100%;
    }
}

.choice__container {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
}

.conditions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.choice__img {
    margin-right: -30px;
    margin-top: 50px;
    min-height: 700px;
}

.choice__img img {
    width: 100%;
    padding-right: -30px;
}

.conditions h1 {
    color: #3A3A3A;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.2%;
}

.conditions,
.choice__img {
    width: 100%;
}

.conditions p {
    color: #3A3A3A;
    font-size: 22px;
    font-weight: 400;
    margin: 50px 0 40px;
}

.conditions button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    background: #244E85;
    padding: 18px 32px;
    z-index: 11;
}

.conditions__text--mobile {
    display: none;
}

@media (max-width: 1400px) {
    .conditions h1 {
        font-size: 50px;
    }

    .conditions p {
        margin: 35px 0;
    }

    .conditions {
        margin: 50px 0 120px;
    }
}

@media (max-width: 1100px) {
    .conditions__text--mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .conditions__text,
    .choice__img {
        display: none;
    }

    .conditions {
        align-items: center;
    }

    .conditions p {
        margin: 0 0 35px;
    }

    .conditions h1 {
        font-size: 45px;
        margin-bottom: 35px;
    }

    .conditions h1,
    .conditions__text--mobile p {
        max-width: 380px;
        text-align: center;
    }
    .conditions__text--mobile img{
        margin-right: -30px;
    }
    .conditions__text--mobile>div{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }
}
.main{
    height: 80vh;
}
.company__parameters{
    display: flex;
    justify-content: space-between;
    padding: 110px 0;
}
.flex-item{
    flex: 1;
}
.company__parameters--img img{
    width: 100%;
}
.company__logo{
    display: flex;
    align-items: flex-end;
}
.company__logo p{
    color: #404040;
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
}
.company__parameters--list h1{
    color: #3A3A3A;
    font-size: 72px;
    font-weight: 400;
    line-height: 113.2%;
    margin-bottom: 25px;
    margin-top: 20px;
}
.company__parameters--jobs{
    display: flex;
    align-items: center;
}
.company__parameters--jobs>div{
    flex: 1;
    max-width: 340px;
    margin-right: 10px;
}
.company__parameters--jobs>div p{
    max-width: 240px;
    color: #3A3A3A;
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
}
.company__parameters--jobs{
    margin-bottom: 30px;
}
.team{
    padding-bottom: 250px;
}
.team h2{
    color: #3A3A3A;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.2%;
}
.team>p{
    color: #3A3A3A;
    font-size: 22px;
    font-weight: 400;
    margin: 20px 0 70px;
}
.team__lists{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
.team__list{
    position: relative;
}
.team__list img{
    width: 100%;
    height: 100%;
}
.team__list--name{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.team__list--name p{
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}
.team__list--name span{
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
}
.partner h2{
    color: #3A3A3A;
    font-size: 80px;
    font-weight: 400;
    line-height: 113.2%;
}
.partner>p{
    color: #3A3A3A;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 70px;
    margin-top: 15px;
}
.partner__lists{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}
.partner{
    padding-bottom: 170px;
}
.partner__list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.partner__list p{
    color: #2B2B2B;
    font-size: 30px;
    font-weight: 400;
    white-space: nowrap;
}
.partner__list span{
    color: #2B2B2B;
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    max-width: 350px;
    display: inline-block;
}
.partner__list--about{
    width: 100%;
}
.partner__list--photo{
    display: flex;
    min-width: 300px;
    margin-right: 30px;
    justify-content: flex-start;
}
.partner__list--photo img{
    width: 100%;
}
.partner__list--photo>div{
    width: fit-content;
}
.choice__img--photo{
    position: absolute;
    right: 0;
    bottom: 0;
}
@media (max-width: 1770px) {
    .choice__img--photo{
        width: 700px;
    }
}
@media (max-width: 1700px) {
    .partner__list p{
       white-space: initial;
    }
}
@media (max-width: 1400px) {
    .partner__list--photo{
        min-width: 180px;
    }
    .team__lists{
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 1300px) {
    .choice__img--photo{
        width: 600px;
    }
}
@media (max-width: 1100px) {
    .choice__img--photo{
       display: none;
    }
    .partner__lists{
        display: flex;
        flex-direction: column;
    }
    .partner__list--photo img{
        width: 180px;
    }
    .team{
        padding-bottom: 100px;
    }
    .company__parameters{
        flex-direction: column;
        padding: 0 0 69px;
    }
}
@media (max-width: 900px) {
    .team__lists{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
}
@media (max-width: 768px) {
    .team h2,
    .partner h2{
        text-align: center;
        font-size: 45px;
    }
    .team>p,
    .partner>p{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .partner__list p{
        font-size: 22px;
    }
    .partner__list span{
        font-size: 16px;
        margin-top: 10px;
    }
    .partner__list--photo{
        min-width: initial;
    }
    .partner__list--photo img{
        max-width: 90px;
    }
    .partner{
        padding-bottom: 120px;
    }
    .team__list--name{
        position: static;
        text-align: center;
    }
    .team__list--name span,
    .team__list--name p{
        font-size: 18px;
        color: #2B2B2B;
    }
    .team__list img{
        width: 186px;
        height: 186px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 8px;
    }
    .team__lists{
        gap: 50px;
    }
    .team__list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .company__parameters--list h1{
        font-size: 45px;
        text-align: center;
        margin-bottom: 20px;
    }
    .company__parameters--jobs{
        flex-direction: column;
        margin-bottom: 0;
    }
    .company__parameters--jobs>div{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 24px;
    }
    .company__parameters--jobs>div p{
        text-align: center;
        margin-top: 6px;
    }
    .company__logo{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    .company__logo p{
        margin-left: 0;
        margin-bottom: 5px;
        font-size: 18px;
    }
}
.construction__main{
    background-image: url("../img/construction_back.png");
    background-repeat:no-repeat;
    background-size: cover;
    padding: 200px 0 180px;
}
.construction__main h1{
    color: #FFF;
    font-size: 80px;
    font-weight: 400;
    line-height: 113.2%; /* 90.56px */
    max-width: 760px;
    margin: 20px 0 25px;
}
.construction__main p{
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
}
.construction__main span{
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    max-width: 270px;
    display: inline-block;
}
.construction__parameters{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.construction__parameters img{
    margin-bottom: 8px;
}
.construction__parameters>div{
    margin-right: 80px;
}
.construction__parameters>div>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.construction__gallery h2{
    color: #3B3A3A;
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 40px;
}
.construction__video h2{
    color: #3B3A3A;
    font-size: 80px;
    font-weight: 400;
}
.construction__video{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 140px 30px 190px;
}
.construction__video img{
    width: 100%;
}
.construction__gallery{
    padding: 60px 30px 0;
}
.gallery img{
    width: 100%;
}
.gallery {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #000;
}

.gallery img:nth-child(n + 3) {
    grid-row: span 1;
    grid-column: span 1;
}
.gallery img:nth-child(1),
.gallery img:nth-child(6){
    grid-row: span 2;
    grid-column: span 2;
}
@media (max-width: 1100px) {
    .construction__main h1{
        text-align: center;
        max-width: initial;
    }
    .construction__main span,
    .construction__main p{
        text-align: center;
    }
    .construction__parameters img{
        margin-bottom: 10px;
    }
    .construction__parameters{
        flex-direction: column;
    }
    .construction__parameters>div{
        margin-right: 0;
    }
    .construction__main{
        padding: 160px 0 120px;
        margin-top: -126px;
    }
    .construction__parameters>div>div{
        margin-bottom: 30px;
        align-items: center;
    }
    .construction__gallery h2,
    .construction__video h2{
        font-size: 45px;
    }
}
@media (max-width: 768px){
    .construction__main p{
        font-size: 18px;
    }
    .construction__main h1{
        font-size: 45px;
        margin: 20px 0 50px;
    }
    .construction__gallery h2,
    .construction__video h2{
        text-align: center;
        margin-bottom: 25px;
    }
    .construction__video{
        flex-direction: column;
    }
    .construction__video{
        padding: 45px 30px 120px;
    }
    .gallery{
        display: flex;
    }
}